In [18]:
#!pip install node
#!pip install npm
#!pip install sodapy
from sodapy import Socrata
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import os
import datetime
import csv

from config import austin_key
from config import austin_app

In [2]:
#need to install extensions in vscode for instant markdown(by david bankier)
#allows you to open a readme inside vscode that looks how the formatting should when you load it to git hub 
#allows you to real time edit the readme and you can see how the readme formatting changes in git hub 
#concept of bullets in markdown is asterisk (will be formatted as bullets in the git file)
#*italic*
#**bold**
#***bold italic***
#--- will create a separating line across the file
#insert pictures with [caption](link to pic in file structure)  ex. ()
# number of ## in front of the text will change the size (more # means bigger font)
# tab indent below a bullet with another * will format a hollow sub bulllet
# using the `` around a phrase will format it as a code snippet (gray background and typewriter font)
# ||| will be a column separator to make tables from scratch
#|header 1|header 2
#------|-----
#|h1 data|h2 data
# : tells the table where to align the words (-----: rt align :----- left align)
#check out markdown cheat sheet on wikipedia

In [3]:
#not going to use the FBI data because it is submitted annually by the individual agencies so the data in the reports is compiled on an annual basis 
#we need data that is by day so we can see trends across the monthly 
#api_key=fbi_api_key
#state = "state"
#url = "https://api.usa.gov/crime/fbi/sapi/"
#query_url = f"https://api.usa.gov/crime/fbi/sapi/api/summarized/agencies/TX1010000/homicide/2017/2019?API_KEY=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv"
#query_url
#client = Socrata("data.austintexas.gov", None)
#results = client.get("fdj4-gpfu", limit=2000)
#results_df = pd.DataFrame.from_records(results)

#results_df.head()

app_token= austin_app

url = "https://data.austintexas.gov/resource/fdj4-gpfu.json?"
#crime_history = pd.DataFrame()
i=1
for i in range (1, 15):
    
    app_token= austin_app
    crime= "DEL CONTROLLED SUB/NARCOTIC"


    query_url = f"{url}$$app_token={app_token}&$limit=50000&$offset={50000*i}"
    response = requests.get(query_url).json()
    if i == 1:
        crime_history=pd.DataFrame(response)
        
    else:
        
        crime_history=crime_history.append(response)
crime_history.count()

incident_report_number         700000
crime_type                     700000
ucr_code                       700000
family_violence                700000
occ_date_time                  700000
occ_date                       700000
occ_time                       700000
rep_date_time                  700000
rep_date                       700000
rep_time                       700000
location_type                  696729
address                        700000
zip_code                       694767
council_district               692861
sector                         696460
district                       696308
pra                            695471
x_coordinate                   695764
y_coordinate                   695764
latitude                       686006
longitude                      686006
location                       686006
:@computed_region_a3it_2a2z    685987
:@computed_region_8spj_utxs    683907
:@computed_region_q9nd_rr82    684724
clearance_status               629488
clearance_date                 629478
ucr_category                   242157
category_description           242157
:@computed_region_qwte_z96m    364225
census_tract                   178726
dtype: int64

In [4]:
#response = requests.get(query_url).json()
#response[1]['crime_type']
#print(json.dumps(response, indent=4))

#check how far back the dates go for the pagination 
crime_history['occ_date'].min()

'2014-04-15T00:00:00.000'

In [39]:
moon_df = pd.read_csv("moon-phase-calendar-landscape_copy.csv")
moon_df = pd.DataFrame(moon_df)
moon_df = moon_df.drop(columns=['Unnamed: 3', 'Unnamed: 4'])
moon_df.head()
#change to date time object and rename column
moon_df['Local Date']= pd.to_datetime(moon_df['Local Date'])

moon_df.head()

     Lunar Phase Local Date Local Time
0       New Moon 2014-01-01       5:15
1  First Quarter 2014-01-07      21:40
2      Full Moon 2014-01-15      22:53
3   Last Quarter 2014-01-23      23:21
4       New Moon 2014-01-30      15:40

In [36]:
moon_df.describe()

         Lunar Phase Local Date Local Time
count            396        396        396
unique             4        396        345
top     Last Quarter   3-Nov-15       7:27
freq              99          1          4

In [5]:
crime_df = pd.DataFrame(crime_history)
crime_df.head()
#if you want to group your data by time you have to do resample not .groupby(), can resample by days or by months, check time example pushed out last week
#compare if crime occurs more at night consistently vs increasing during full moon
#could sample by moon phase or day date 
#pick 10 full moon days and compare count to 10 non full moon days

In [6]:
crime_clean_df = crime_df[["crime_type", "occ_date_time", "occ_date", "occ_time", "rep_date"]].copy()

In [7]:
#checking if occurence is actualy date/time
#crime_clean_df.dtypes
#convert to datetime object 
#pd.to_datetime(crime_clean_df['occ_date_time'])
#put back into dataframe overwrite column
crime_clean_df['occ_date_time']= pd.to_datetime(crime_clean_df['occ_date_time'])
crime_clean_df['occ_date']= pd.to_datetime(crime_clean_df['occ_date'])

crime_clean_df.head()

,crime_type,occ_date_time,occ_date,occ_time,rep_date
0,FAMILY DISTURBANCE,2020-08-28 19:00:00,2020-08-28,1900,2020-08-28T00:00:00.000
1,FAMILY DISTURBANCE,2020-08-28 18:57:00,2020-08-28,1857,2020-08-28T00:00:00.000
2,ASSAULT BY CONTACT FAM/DATING,2020-08-28 18:55:00,2020-08-28,1855,2020-08-28T00:00:00.000
3,DISTURBANCE - OTHER,2020-08-28 18:50:00,2020-08-28,1850,2020-08-28T00:00:00.000
4,BURGLARY OF VEHICLE,2020-08-28 18:47:00,2020-08-28,1847,2020-08-28T00:00:00.000

In [43]:
#whatever one is typed first is the left df

crime_moon_df= crime_clean_df.merge(moon_df, left_on='occ_date', right_on='Local Date', how='left')
crime_moon_df.sample(50)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
171694,BURGLARY OF RESIDENCE,2019-01-09 03:18:00,2019-01-09,318,2019-01-09T00:00:00.000,NaN,NaT,NaN
344629,POSSESSION OF MARIJUANA,2017-05-12 00:16:00,2017-05-12,16,2017-05-12T00:00:00.000,NaN,NaT,NaN
307137,BURGLARY OF VEHICLE,2017-09-11 18:30:00,2017-09-11,1830,2017-09-12T00:00:00.000,NaN,NaT,NaN
467290,ASSAULT CONTACT-SEXUAL NATURE,2016-04-07 13:05:00,2016-04-07,1305,2016-04-07T00:00:00.000,New Moon,2016-04-07,6:25
594548,BURGLARY OF RESIDENCE,2015-03-05 12:30:00,2015-03-05,1230,2015-03-05T00:00:00.000,Full Moon,2015-03-05,12:06
78496,HARASSMENT,2019-11-21 12:00:00,2019-11-21,1200,2019-11-26T00:00:00.000,NaN,NaT,NaN
133588,VIOL OF EMERG PROTECTIVE ORDER,2019-05-22 00:19:00,2019-05-22,19,2019-05-22T00:00:00.000,NaN,NaT,NaN
432663,BURGLARY OF VEHICLE,2016-07-27 15:30:00,2016-07-27,1530,2016-07-27T00:00:00.000,NaN,NaT,NaN
417042,FAMILY DISTURBANCE,2016-09-16 09:42:00,2016-09-16,942,2016-09-16T00:00:00.000,Full Moon,2016-09-16,14:07
290654,BURGLARY OF VEHICLE,2017-11-07 14:30:00,2017-11-07,1430,2017-11-08T00:00:00.000,NaN,NaT,NaN
263179,THEFT BY SHOPLIFTING,2018-02-19 15:55:00,2018-02-19,1555,2018-04-13T00:00:00.000,NaN,NaT,NaN
70505,BURGLARY OF VEHICLE,2019-12-18 20:00:00,2019-12-18,2000,2019-12-21T00:00:00.000,Last Quarter,2019-12-18,22:59
539559,GRAFFITI,2015-08-19 01:39:00,2015-08-19,139,2015-08-19T00:00:00.000,NaN,NaT,NaN
635203,BURGLARY OF VEHICLE,2014-10-24 18:00:00,2014-10-24,1800,2014-10-27T00:00:00.000,NaN,NaT,NaN
615871,ASSAULT BY CONTACT FAM/DATING,2014-12-25 02:24:00,2014-12-25,224,2014-12-25T00:00:00.000,NaN,NaT,NaN
539932,SUSPICIOUS PERSON,2015-08-17 22:00:00,2015-08-17,2200,2015-08-18T00:00:00.000,NaN,NaT,NaN
353311,THEFT,2017-04-14 17:36:00,2017-04-14,1736,2017-04-14T00:00:00.000,NaN,NaT,NaN
449879,BURGLARY OF VEHICLE,2016-06-01 23:30:00,2016-06-01,2330,2016-06-02T00:00:00.000,NaN,NaT,NaN
603971,BURGLARY OF VEHICLE,2015-02-02 22:00:00,2015-02-02,2200,2015-02-03T00:00:00.000,NaN,NaT,NaN
140385,BURGLARY OF VEHICLE,2019-04-29 14:00:00,2019-04-29,1400,2019-04-29T00:00:00.000,NaN,NaT,NaN
655727,FAMILY DISTURBANCE,2014-08-24 01:29:00,2014-08-24,129,2014-08-24T00:00:00.000,NaN,NaT,NaN
261649,AGG ROBBERY/DEADLY WEAPON,2018-02-25 03:00:00,2018-02-25,300,2018-02-25T00:00:00.000,NaN,NaT,NaN
381211,THEFT,2017-01-13 20:43:00,2017-01-13,2043,2017-01-14T00:00:00.000,NaN,NaT,NaN
42417,BURGLARY OF VEHICLE,2020-03-25 01:00:00,2020-03-25,100,2020-03-27T00:00:00.000,NaN,NaT,NaN
396979,PUBLIC INTOXICATION,2016-11-21 14:41:00,2016-11-21,1441,2016-11-21T00:00:00.000,Last Quarter,2016-11-21,2:34
14295,SUSPICIOUS PERSON,2020-07-07 13:40:00,2020-07-07,1340,2020-07-07T00:00:00.000,NaN,NaT,NaN
675146,ASSAULT WITH INJURY,2014-06-28 01:30:00,2014-06-28,130,2014-06-28T00:00:00.000,NaN,NaT,NaN
459388,DISTURBANCE - OTHER,2016-05-02 03:00:00,2016-05-02,300,2016-05-03T00:00:00.000,NaN,NaT,NaN
530573,BURGLARY OF VEHICLE,2015-09-15 18:30:00,2015-09-15,1830,2015-09-16T00:00:00.000,NaN,NaT,NaN
98380,CRIMINAL MISCHIEF,2019-09-16 04:58:00,2019-09-16,458,2019-09-16T00:00:00.000,NaN,NaT,NaN
104642,ASSAULT BY CONTACT FAM/DATING,2019-08-25 21:36:00,2019-08-25,2136,2019-08-25T00:00:00.000,NaN,NaT,NaN
514065,THEFT BY SHOPLIFTING,2015-11-07 16:47:00,2015-11-07,1647,2015-11-07T00:00:00.000,NaN,NaT,NaN
586059,CAMPING IN PARK,2015-03-31 00:40:00,2015-03-31,40,2015-03-31T00:00:00.000,NaN,NaT,NaN
3868,AUTO THEFT,2020-08-14 21:18:00,2020-08-14,2118,2020-08-14T00:00:00.000,NaN,NaT,NaN
339428,HARASSMENT,2017-05-29 10:09:00,2017-05-29,1009,2017-05-29T00:00:00.000,NaN,NaT,NaN
178706,ASSAULT BY CONTACT FAM/DATING,2018-12-13 23:41:00,2018-12-13,2341,2018-12-13T00:00:00.000,NaN,NaT,NaN
521897,FAMILY DISTURBANCE,2015-10-13 06:45:00,2015-10-13,645,2015-10-13T00:00:00.000,NaN,NaT,NaN
448067,GRAFFITI,2016-06-07 16:40:00,2016-06-07,1640,2016-06-07T00:00:00.000,NaN,NaT,NaN
550026,POSSESSION OF MARIJUANA,2015-07-17 21:28:00,2015-07-17,2128,2015-07-18T00:00:00.000,NaN,NaT,NaN
402041,THEFT OF LICENSE PLATE,2016-11-04 09:40:00,2016-11-04,940,2016-11-06T00:00:00.000,NaN,NaT,NaN
379654,BURGLARY OF VEHICLE,2017-01-19 07:00:00,2017-01-19,700,2017-01-19T00:00:00.000,Last Quarter,2017-01-19,16:14
636506,BURGLARY OF VEHICLE,2014-10-20 18:00:00,2014-10-20,1800,2014-10-21T00:00:00.000,NaN,NaT,NaN
328697,THEFT,2017-07-02 02:00:00,2017-07-02,200,2017-07-02T00:00:00.000,NaN,NaT,NaN
483220,RUNAWAY CHILD,2016-02-16 14:01:00,2016-02-16,1401,2016-02-16T00:00:00.000,NaN,NaT,NaN
281921,FAMILY DISTURBANCE,2017-12-09 20:36:00,2017-12-09,2036,2017-12-09T00:00:00.000,NaN,NaT,NaN
199264,DEBIT CARD ABUSE,2018-10-02 21:37:00,2018-10-02,2137,2018-10-02T00:00:00.000,Last Quarter,2018-10-02,4:47
190518,THEFT OF SERVICE,2018-11-02 10:00:00,2018-11-02,1000,2020-10-07T00:00:00.000,NaN,NaT,NaN
650796,POSS OF DRUG PARAPHERNALIA,2014-09-07 21:43:00,2014-09-07,2143,2014-09-07T00:00:00.000,NaN,NaT,NaN
45088,POSSESSION OF MARIJUANA,2020-03-15 01:38:00,2020-03-15,138,2020-03-15T00:00:00.000,NaN,NaT,NaN
154446,THEFT,2019-03-11 16:30:00,2019-03-11,1630,2019-03-14T00:00:00.000,NaN,NaT,NaN

In [8]:
#think of some crimes you think are more or less likely to be committed under a full moon/ at night etc
#adding databases together vertically will be concatenate; filter databases down to crime type and occurence date 
#pd.concat[]
#all_crimes = [response[i]['crime_type'] for i in range (len(response))]
#set(all_crimes)


#check all of the unique crime names
#crime_type = crime_clean_df.crime_type.unique()
#crime_type

In [9]:
#create pivot table of the crime duplicates and sort to find top 50 reported crimes 
duplicates = crime_clean_df.pivot_table(index = 'crime_type', aggfunc= 'size')
#data series can sort index or sort values, default to sort by index so we want to sort by the values instead
duplicates.sort_values(ascending= False).head(50)

crime_type
FAMILY DISTURBANCE                67773
BURGLARY OF VEHICLE               63740
THEFT                             62289
CRIMINAL MISCHIEF                 35115
ASSAULT W/INJURY-FAM/DATE VIOL    22461
DISTURBANCE - OTHER               21832
THEFT BY SHOPLIFTING              20994
DWI                               18987
HARASSMENT                        17185
BURGLARY OF RESIDENCE             16814
ASSAULT WITH INJURY               16310
AUTO THEFT                        15362
RUNAWAY CHILD                     12995
POSSESSION OF MARIJUANA           12791
PUBLIC INTOXICATION               12474
WARRANT ARREST NON TRAFFIC        11788
POSS CONTROLLED SUB/NARCOTIC      11784
ASSAULT BY CONTACT                11653
BURGLARY NON RESIDENCE            10776
CRIMINAL TRESPASS                  9593
FRAUD - OTHER                      9140
THEFT OF BICYCLE                   8656
IDENTITY THEFT                     7941
CUSTODY ARREST TRAFFIC WARR        7709
POSS OF DRUG PARAPHERNALIA         7336
DATING DISTURBANCE                 6520
ASSAULT BY THREAT                  6083
DEBIT CARD ABUSE                   6080
CHILD CUSTODY INTERFERE            5611
ASSAULT BY CONTACT FAM/DATING      5555
CRED CARD ABUSE - OTHER            5415
AGG ASSAULT                        5137
FAMILY DISTURBANCE/PARENTAL        5045
TERRORISTIC THREAT                 4649
THEFT OF SERVICE                   4646
SUSPICIOUS PERSON                  4470
AGG ASLT STRANGLE/SUFFOCATE        3800
DWI 2ND                            3611
VIOL CITY ORDINANCE - OTHER        3455
THEFT OF LICENSE PLATE             3384
THEFT FROM AUTO                    3335
AGG ROBBERY/DEADLY WEAPON          3239
DWI  .15 BAC OR ABOVE              3107
CRASH/FAIL STOP AND RENDER AID     3105
THEFT FROM PERSON                  3040
FORGERY AND PASSING                3011
PROTECTIVE ORDER                   2468
GRAFFITI                           2403
AGG ASSAULT FAM/DATE VIOLENCE      2307
ROBBERY BY ASSAULT                 2187
dtype: int64

In [45]:
#replace one crime type with the more generic types ex "bicycle theft" to "theft", grouping like crimes in the top 50
#df["column1"].replace({"a": "x", "b": "y"}, inplace=True)
crime_grouped = crime_moon_df.replace({"THEFT BY SHOPLIFTING" : "THEFT", "AUTO THEFT" : "THEFT", "THEFT OF BICYCLE" : "THEFT", "THEFT OF SERVICE":"THEFT", "THEFT OF LICENSE PLATE": "THEFT",
                                       "THEFT FROM AUTO":"THEFT", "THEFT FROM PERSON":"THEFT", "THEFT FROM BUILDING":"THEFT", "THEFT OF TRAILER" :"THEFT",
                                       "DWI":"INTOXICATION CRIME", "PUBLIC INTOXICATION":"INTOXICATION CRIME", "DWI 2ND": "INTOXICATION CRIME", 
                                        "DWI  .15 BAC OR ABOVE": "INTOXICATION CRIME", "DRIVING WHILE INTOX / FELONY" : "INTOXICATION CRIME",
                                       "POSSESSION OF MARIJUANA": "DRUG RELATED", "POSS CONTROLLED SUB/NARCOTIC":"DRUG RELATED", "POSS OF DRUG PARAPHERNALIA":"DRUG RELATED",
                                       "ASSAULT WITH INJURY":"ASSAULT", "ASSAULT W/INJURY-FAM/DATE VIOL" : "ASSAULT", "ASSAULT BY CONTACT" :"ASSAULT", "ASSAULT BY THREAT": "ASSAULT",
                                       "ASSAULT BY CONTACT FAM/DATING": "ASSAULT", "AGG ASSAULT":"ASSAULT", "AGG ASLT STRANGLE/SUFFOCATE":"ASSAULT",
                                       "AGG ASSAULT FAM/DATE VIOLENCE": "ASSAULT", "FELONY ENHANCEMENT/ASSLT W/INJ" : "ASSAULT", "ASSAULT  CONTACT-SEXUAL NATURE" :"ASSAULT",
                                       "AGG ROBBERY/DEADLY WEAPON": "ROBBERY", "ROBBERY BY ASSAULT" :"ROBBERY",
                                       "BURGLARY OF VEHICLE":"BURGLARY", "BURGLARY OF SHED/DETACHED GARAGE/STORAGE UNIT" : "BURGLARY", "BURGLARY OF RESIDENCE" : "BURGLARY", "BURGLARY NON RESIDENCE" :"BURGLARY",
                                       "FRAUD - OTHER" :"FRAUD", "IDENTITY THEFT":"FRAUD", "FORGERY AND PASSING":"FRAUD", "CRED CARD ABUSE - OTHER":"FRAUD", "DEBIT CARD ABUSE":"FRAUD",
                                       "FAMILY DISTURBANCE":"DISTURBANCE","DATING DISTURBANCE":"DISTURBANCE","FAMILY DISTURBANCE/PARENTAL":"DISTURBANCE","DISTURBANCE - OTHER":"DISTURBANCE"})

In [49]:
crime_grouped.head()

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
0,DISTURBANCE,2020-08-28 19:00:00,2020-08-28,1900,2020-08-28T00:00:00.000,NaN,NaT,NaN
1,DISTURBANCE,2020-08-28 18:57:00,2020-08-28,1857,2020-08-28T00:00:00.000,NaN,NaT,NaN
2,ASSAULT,2020-08-28 18:55:00,2020-08-28,1855,2020-08-28T00:00:00.000,NaN,NaT,NaN
3,DISTURBANCE,2020-08-28 18:50:00,2020-08-28,1850,2020-08-28T00:00:00.000,NaN,NaT,NaN
4,BURGLARY,2020-08-28 18:47:00,2020-08-28,1847,2020-08-28T00:00:00.000,NaN,NaT,NaN

In [50]:
duplicate_groups = crime_grouped.pivot_table(index = 'crime_type', aggfunc= 'size')
duplicate_groups.sort_values(ascending= False).head(50)

#cut the small database at runaway child

crime_type
THEFT                             124599
DISTURBANCE                       101170
BURGLARY                           93318
ASSAULT                            76263
INTOXICATION CRIME                 39901
CRIMINAL MISCHIEF                  35115
DRUG RELATED                       31911
FRAUD                              31587
HARASSMENT                         17185
RUNAWAY CHILD                      12995
WARRANT ARREST NON TRAFFIC         11788
CRIMINAL TRESPASS                   9593
CUSTODY ARREST TRAFFIC WARR         7709
CHILD CUSTODY INTERFERE             5611
ROBBERY                             5426
TERRORISTIC THREAT                  4649
SUSPICIOUS PERSON                   4470
VIOL CITY ORDINANCE - OTHER         3455
CRASH/FAIL STOP AND RENDER AID      3105
PROTECTIVE ORDER                    2468
GRAFFITI                            2403
VIOL OF PROTECTIVE ORDER            2068
FAILURE TO IDENTIFY                 1856
DAMAGE CITY PROP                    1843
RAPE                                1826
DOC FIGHTING                        1741
ASSAULT BY THREAT FAM/DATING        1563
CRIMINAL TRESPASS/TRANSIENT         1551
THEFT OF AUTO PARTS                 1532
DEL CONTROLLED SUB/NARCOTIC         1516
UNLAWFUL CARRYING WEAPON            1481
EVADING / FOOT                      1308
EVADING VEHICLE                     1297
TERRORISTIC THREAT-FAM/DAT VIO      1229
INDECENT EXPOSURE                   1228
CRUELTY TO ANIMALS                  1112
VIOL STATE LAW - OTHER              1049
FEDERAL VIOL/OTHER                  1048
VIOL OF EMERG PROTECTIVE ORDER      1018
POSS SYNTHETIC MARIJUANA             998
MAIL THEFT                           964
DEADLY CONDUCT                       961
CHILD ENDANGERMENT- ABANDONMEN       927
DWI - DRUG RECOGNITION EXPERT        921
VIOL CITY ORDINANCE - DOG            921
ASSAULT ON PUBLIC SERVANT            886
PROSTITUTION                         871
POSS CONTROLLED SUB/SYN NARC         863
INJURY TO CHILD                      813
INDECENCY WITH A CHILD/CONTACT       789
dtype: int64

In [51]:
#group by date to find number of reports per day

report_date = crime_moon_df.groupby(['occ_date'])

report_date.head()

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
0,FAMILY DISTURBANCE,2020-08-28 19:00:00,2020-08-28,1900,2020-08-28T00:00:00.000,NaN,NaT,NaN
1,FAMILY DISTURBANCE,2020-08-28 18:57:00,2020-08-28,1857,2020-08-28T00:00:00.000,NaN,NaT,NaN
2,ASSAULT BY CONTACT FAM/DATING,2020-08-28 18:55:00,2020-08-28,1855,2020-08-28T00:00:00.000,NaN,NaT,NaN
3,DISTURBANCE - OTHER,2020-08-28 18:50:00,2020-08-28,1850,2020-08-28T00:00:00.000,NaN,NaT,NaN
4,BURGLARY OF VEHICLE,2020-08-28 18:47:00,2020-08-28,1847,2020-08-28T00:00:00.000,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...
699986,THEFT,2014-04-15 23:59:00,2014-04-15,2359,2014-04-16T00:00:00.000,Full Moon,2014-04-15,2:45
699987,BURGLARY OF VEHICLE,2014-04-15 23:55:00,2014-04-15,2355,2014-04-15T00:00:00.000,Full Moon,2014-04-15,2:45
699988,RAPE,2014-04-15 23:51:00,2014-04-15,2351,2014-04-15T00:00:00.000,Full Moon,2014-04-15,2:45
699989,WARRANT ARREST NON TRAFFIC,2014-04-15 23:41:00,2014-04-15,2341,2014-04-15T00:00:00.000,Full Moon,2014-04-15,2:45
699990,FAMILY DISTURBANCE,2014-04-15 23:41:00,2014-04-15,2341,2014-04-15T00:00:00.000,Full Moon,2014-04-15,2:45

In [53]:
#create a list of only the crimes we want               
crime_list = ['THEFT', 'DISTURBANCE', 'BURGLARY', 'ASSAULT', 'INTOXICATION CRIME', 'CRIMINAL MISCHIEF', 'DRUG RELATED', 'FRAUD', 'HARASSMENT', 'RUNAWAY CHILD']

top_crime_df = crime_grouped.loc[crime_grouped['crime_type'].isin(crime_list)]

top_crime_df.sample(50)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
290754,BURGLARY,2017-11-07 03:00:00,2017-11-07,300,2017-11-07T00:00:00.000,NaN,NaT,NaN
250562,ASSAULT,2018-04-05 17:37:00,2018-04-05,1737,2018-04-05T00:00:00.000,NaN,NaT,NaN
46819,THEFT,2020-03-09 13:37:00,2020-03-09,1337,2020-03-09T00:00:00.000,Full Moon,2020-03-09,12:48
402030,THEFT,2016-11-04 10:16:00,2016-11-04,1016,2016-11-04T00:00:00.000,NaN,NaT,NaN
269177,CRIMINAL MISCHIEF,2018-01-28 00:00:00,2018-01-28,0,2018-01-28T00:00:00.000,NaN,NaT,NaN
55587,INTOXICATION CRIME,2020-02-08 21:46:00,2020-02-08,2146,2020-02-09T00:00:00.000,NaN,NaT,NaN
683851,THEFT,2014-06-02 12:08:00,2014-06-02,1208,2014-06-02T00:00:00.000,NaN,NaT,NaN
156760,THEFT,2019-03-03 12:30:00,2019-03-03,1230,2019-03-03T00:00:00.000,NaN,NaT,NaN
473720,DISTURBANCE,2016-03-17 23:39:00,2016-03-17,2339,2016-03-17T00:00:00.000,NaN,NaT,NaN
650137,THEFT,2014-09-09 20:45:00,2014-09-09,2045,2014-09-10T00:00:00.000,NaN,NaT,NaN
15138,THEFT,2020-07-04 12:00:00,2020-07-04,1200,2020-07-06T00:00:00.000,Full Moon,2020-07-04,23:44
199964,THEFT,2018-09-30 17:14:00,2018-09-30,1714,2018-09-30T00:00:00.000,NaN,NaT,NaN
686512,DRUG RELATED,2014-05-25 18:34:00,2014-05-25,1834,2014-05-25T00:00:00.000,NaN,NaT,NaN
697549,DRUG RELATED,2014-04-23 11:43:00,2014-04-23,1143,2014-04-23T00:00:00.000,NaN,NaT,NaN
23312,ASSAULT,2020-06-03 14:14:00,2020-06-03,1414,2020-06-04T00:00:00.000,NaN,NaT,NaN
127039,BURGLARY,2019-06-12 10:01:00,2019-06-12,1001,2019-06-12T00:00:00.000,NaN,NaT,NaN
218229,ASSAULT,2018-07-28 14:45:00,2018-07-28,1445,2018-07-28T00:00:00.000,NaN,NaT,NaN
303001,INTOXICATION CRIME,2017-09-25 20:44:00,2017-09-25,2044,2017-09-25T00:00:00.000,NaN,NaT,NaN
583389,DRUG RELATED,2015-04-08 01:55:00,2015-04-08,155,2015-04-08T00:00:00.000,NaN,NaT,NaN
271923,RUNAWAY CHILD,2018-01-17 18:15:00,2018-01-17,1815,2018-01-17T00:00:00.000,NaN,NaT,NaN
9870,ASSAULT,2020-07-24 00:32:00,2020-07-24,32,2020-07-24T00:00:00.000,NaN,NaT,NaN
458072,CRIMINAL MISCHIEF,2016-05-06 12:41:00,2016-05-06,1241,2016-05-06T00:00:00.000,New Moon,2016-05-06,14:31
66035,THEFT,2020-01-03 15:57:00,2020-01-03,1557,2020-01-03T00:00:00.000,NaN,NaT,NaN
34165,ASSAULT,2020-04-25 23:13:00,2020-04-25,2313,2020-04-26T00:00:00.000,NaN,NaT,NaN
358511,BURGLARY,2017-03-29 00:25:00,2017-03-29,25,2017-03-29T00:00:00.000,NaN,NaT,NaN
454347,BURGLARY,2016-05-18 11:00:00,2016-05-18,1100,2016-05-19T00:00:00.000,NaN,NaT,NaN
55901,THEFT,2020-02-07 22:00:00,2020-02-07,2200,2020-02-08T00:00:00.000,NaN,NaT,NaN
321280,FRAUD,2017-07-25 12:00:00,2017-07-25,1200,2017-08-30T00:00:00.000,NaN,NaT,NaN
347341,THEFT,2017-05-03 14:58:00,2017-05-03,1458,2017-05-03T00:00:00.000,NaN,NaT,NaN
14077,ASSAULT,2020-07-08 11:30:00,2020-07-08,1130,2020-07-10T00:00:00.000,NaN,NaT,NaN
69550,BURGLARY,2019-12-22 07:48:00,2019-12-22,748,2019-12-22T00:00:00.000,NaN,NaT,NaN
576214,ASSAULT,2015-04-29 18:07:00,2015-04-29,1807,2015-04-29T00:00:00.000,NaN,NaT,NaN
23728,THEFT,2020-06-01 22:25:00,2020-06-01,2225,2020-07-02T00:00:00.000,NaN,NaT,NaN
482719,THEFT,2016-02-18 09:20:00,2016-02-18,920,2016-02-18T00:00:00.000,NaN,NaT,NaN
492109,THEFT,2016-01-19 16:52:00,2016-01-19,1652,2016-01-19T00:00:00.000,NaN,NaT,NaN
63888,BURGLARY,2020-01-11 02:00:00,2020-01-11,200,2020-01-11T00:00:00.000,NaN,NaT,NaN
443678,DISTURBANCE,2016-06-21 16:05:00,2016-06-21,1605,2016-06-21T00:00:00.000,NaN,NaT,NaN
221285,ASSAULT,2018-07-17 21:09:00,2018-07-17,2109,2018-07-17T00:00:00.000,NaN,NaT,NaN
82912,BURGLARY,2019-11-06 04:45:00,2019-11-06,445,2019-11-06T00:00:00.000,NaN,NaT,NaN
454819,BURGLARY,2016-05-16 22:00:00,2016-05-16,2200,2016-05-18T00:00:00.000,NaN,NaT,NaN
75303,DISTURBANCE,2019-12-02 06:35:00,2019-12-02,635,2019-12-02T00:00:00.000,NaN,NaT,NaN
318084,THEFT,2017-08-04 15:55:00,2017-08-04,1555,2017-08-04T00:00:00.000,NaN,NaT,NaN
386752,BURGLARY,2016-12-26 15:00:00,2016-12-26,1500,2016-12-27T00:00:00.000,NaN,NaT,NaN
537064,BURGLARY,2015-08-26 19:00:00,2015-08-26,1900,2015-08-27T00:00:00.000,NaN,NaT,NaN
272556,ASSAULT,2018-01-14 22:48:00,2018-01-14,2248,2018-01-14T00:00:00.000,NaN,NaT,NaN
579009,RUNAWAY CHILD,2015-04-21 09:00:00,2015-04-21,900,2015-04-23T00:00:00.000,NaN,NaT,NaN
236121,FRAUD,2018-05-26 22:57:00,2018-05-26,2257,2018-05-30T00:00:00.000,NaN,NaT,NaN
402628,BURGLARY,2016-11-02 08:00:00,2016-11-02,800,2016-11-02T00:00:00.000,NaN,NaT,NaN
388024,THEFT,2016-12-21 22:30:00,2016-12-21,2230,2016-12-22T00:00:00.000,NaN,NaT,NaN
324246,BURGLARY,2017-07-15 20:00:00,2017-07-15,2000,2017-07-17T00:00:00.000,NaN,NaT,NaN

In [56]:
intox_list = ['INTOXICATION CRIME']

intox_crime_df = crime_grouped.loc[crime_grouped['crime_type'].isin(intox_list)]

intox_crime_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
520338,INTOXICATION CRIME,2015-10-18 00:46:00,2015-10-18,46,2015-10-18T00:00:00.000,NaN,NaT,NaN
88229,INTOXICATION CRIME,2019-10-18 18:01:00,2019-10-18,1801,2019-10-18T00:00:00.000,NaN,NaT,NaN
46347,INTOXICATION CRIME,2020-03-11 03:17:00,2020-03-11,317,2020-03-11T00:00:00.000,NaN,NaT,NaN
109169,INTOXICATION CRIME,2019-08-10 21:06:00,2019-08-10,2106,2019-08-10T00:00:00.000,NaN,NaT,NaN
150110,INTOXICATION CRIME,2019-03-26 00:13:00,2019-03-26,13,2019-03-26T00:00:00.000,NaN,NaT,NaN
541783,INTOXICATION CRIME,2015-08-12 02:56:00,2015-08-12,256,2015-08-12T00:00:00.000,NaN,NaT,NaN
684444,INTOXICATION CRIME,2014-05-31 21:40:00,2014-05-31,2140,2014-05-31T00:00:00.000,NaN,NaT,NaN
669532,INTOXICATION CRIME,2014-07-14 17:34:00,2014-07-14,1734,2014-07-14T00:00:00.000,NaN,NaT,NaN
526845,INTOXICATION CRIME,2015-09-27 04:11:00,2015-09-27,411,2015-09-27T00:00:00.000,Full Moon,2015-09-27,21:52
230253,INTOXICATION CRIME,2018-06-15 21:50:00,2018-06-15,2150,2018-06-16T00:00:00.000,NaN,NaT,NaN

In [57]:
assault_list = ['ASSAULT']

assault_df = crime_grouped.loc[crime_grouped['crime_type'].isin(assault_list)]

assault_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
279098,ASSAULT,2017-12-20 06:23:00,2017-12-20,623,2017-12-20T00:00:00.000,NaN,NaT,NaN
578255,ASSAULT,2015-04-23 16:14:00,2015-04-23,1614,2015-04-23T00:00:00.000,NaN,NaT,NaN
151483,ASSAULT,2019-03-21 09:05:00,2019-03-21,905,2019-03-21T00:00:00.000,NaN,NaT,NaN
17786,ASSAULT,2020-06-24 19:21:00,2020-06-24,1921,2020-06-24T00:00:00.000,NaN,NaT,NaN
291360,ASSAULT,2017-11-04 23:37:00,2017-11-04,2337,2017-11-04T00:00:00.000,Full Moon,2017-11-04,0:24
505635,ASSAULT,2015-12-06 03:16:00,2015-12-06,316,2015-12-06T00:00:00.000,NaN,NaT,NaN
613054,ASSAULT,2015-01-04 00:06:00,2015-01-04,6,2015-01-04T00:00:00.000,Full Moon,2015-01-04,22:54
487932,ASSAULT,2016-02-01 15:32:00,2016-02-01,1532,2016-02-01T00:00:00.000,NaN,NaT,NaN
177380,ASSAULT,2018-12-18 15:51:00,2018-12-18,1551,2018-12-18T00:00:00.000,NaN,NaT,NaN
450770,ASSAULT,2016-05-30 08:37:00,2016-05-30,837,2016-05-30T00:00:00.000,NaN,NaT,NaN

In [59]:
steal_list = ['THEFT', 'BURGLARY']

steal_df = crime_grouped.loc[crime_grouped['crime_type'].isin(steal_list)]

steal_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
695891,BURGLARY,2014-04-28 08:37:00,2014-04-28,837,2014-04-28T00:00:00.000,NaN,NaT,NaN
560431,BURGLARY,2015-06-16 14:28:00,2015-06-16,1428,2015-06-16T00:00:00.000,New Moon,2015-06-16,9:07
450634,BURGLARY,2016-05-30 17:28:00,2016-05-30,1728,2016-05-30T00:00:00.000,NaN,NaT,NaN
123176,THEFT,2019-06-25 16:57:00,2019-06-25,1657,2019-06-25T00:00:00.000,Last Quarter,2019-06-25,4:48
249745,THEFT,2018-04-08 10:54:00,2018-04-08,1054,2018-04-23T00:00:00.000,Last Quarter,2018-04-08,2:21
134659,THEFT,2019-05-18 14:48:00,2019-05-18,1448,2019-05-18T00:00:00.000,Full Moon,2019-05-18,16:11
519897,THEFT,2015-10-19 17:00:00,2015-10-19,1700,2015-10-19T00:00:00.000,NaN,NaT,NaN
539634,BURGLARY,2015-08-18 20:45:00,2015-08-18,2045,2015-08-19T00:00:00.000,NaN,NaT,NaN
469023,THEFT,2016-04-02 00:00:00,2016-04-02,0,2016-04-02T00:00:00.000,NaN,NaT,NaN
178454,THEFT,2018-12-14 20:40:00,2018-12-14,2040,2018-12-14T00:00:00.000,NaN,NaT,NaN

In [60]:
drug_list = ['DRUG RELATED']

drug_df = crime_grouped.loc[crime_grouped['crime_type'].isin(drug_list)]

drug_df.sample(10)

,crime_type,occ_date_time,occ_date,occ_time,rep_date,Lunar Phase,Local Date,Local Time
513592,DRUG RELATED,2015-11-09 12:03:00,2015-11-09,1203,2015-11-09T00:00:00.000,NaN,NaT,NaN
176573,DRUG RELATED,2018-12-21 12:53:00,2018-12-21,1253,2018-12-21T00:00:00.000,NaN,NaT,NaN
229321,DRUG RELATED,2018-06-19 02:03:00,2018-06-19,203,2018-06-19T00:00:00.000,NaN,NaT,NaN
541678,DRUG RELATED,2015-08-12 14:07:00,2015-08-12,1407,2015-08-12T00:00:00.000,NaN,NaT,NaN
496040,DRUG RELATED,2016-01-06 12:56:00,2016-01-06,1256,2016-01-06T00:00:00.000,NaN,NaT,NaN
534631,DRUG RELATED,2015-09-02 23:25:00,2015-09-02,2325,2015-09-02T00:00:00.000,NaN,NaT,NaN
318441,DRUG RELATED,2017-08-03 13:25:00,2017-08-03,1325,2017-08-03T00:00:00.000,NaN,NaT,NaN
301103,DRUG RELATED,2017-10-02 12:21:00,2017-10-02,1221,2017-10-02T00:00:00.000,NaN,NaT,NaN
26378,DRUG RELATED,2020-05-23 23:22:00,2020-05-23,2322,2020-05-23T00:00:00.000,NaN,NaT,NaN
634183,DRUG RELATED,2014-10-27 16:38:00,2014-10-27,1638,2014-10-27T00:00:00.000,NaN,NaT,NaN

In [35]:
#top_crime = crime_grouped.set_index('crime_type')
#needed to use | instead of & to represent OR 
#crime_df = top_crime.loc[(top_crime['crime_type'] == 'THEFT') & (top_crime['crime_type'] == 'DISTURBANCE')] 
             #& (top_crime['crime_type'] == "BURGLARY")]
             #& (top_crime['crime_type'] == "ASSAULT") &  (top_crime['crime_type'] == "INTOXICATION CRIME") &  (top_crime['crime_type'] == "CRIMINAL MISCHIEF")
            # &  (top_crime['crime_type'] == "DRUG RELATED") &  (top_crime['crime_type'] == "FRAUD") &  (top_crime['crime_type'] == "HARASSMENT") &
             #(top_crime['crime_type'] == "RUNAWAY CHILD")]

#indexCrimes = [~(crime_grouped['crime_type'] != 'THEFT') & (crime_grouped['crime_type'] != 'DISTURBANCE') & (crime_grouped['crime_type'] != "BURGLARY")]
             #& (top_crime['crime_type'] == "ASSAULT") &  (top_crime['crime_type'] == "INTOXICATION CRIME") &  (top_crime['crime_type'] == "CRIMINAL MISCHIEF")
              #&  (top_crime['crime_type'] == "DRUG RELATED") &  (top_crime['crime_type'] == "FRAUD") &  (top_crime['crime_type'] == "HARASSMENT") &
              # (top_crime['crime_type'] == "RUNAWAY CHILD")].index 
# Delete these row indexes from dataFrame

#df.drop(df.loc[df.time< df.time.shift()].index, inplace=True)
#crime_slim = crime_grouped.drop(indexCrimes)
#crime_slim.head()

In [ ]:
#df = df.drop(index=['Item_B','Item_D'])
#df.loc[[2,4,10,99],['Name','HP']]
#top_crime.loc[['DISTURBANCE', 'ASSAULT'], ['occ_date_time']]

#top_crime.head()

In [ ]:
#top_duplicates = crime_df.pivot_table(index = 'crime_type', aggfunc= 'size')
#top_duplicates.sort_values(ascending= False).head(50)

In [ ]:
#graphical representation of moon phase cycle and number of crime reports by day 
#whisker plot of moon phase and crime to check for outliers 
#compare violent crime and nonviolent crime trends to see if one or the other changes with moon phase
#specifically look at assault and intoxication crimes and theft
#also look at random more minor crimes to see if people acting stupid increases
#split out crimes for individual correlations to see if one in particular is driving trends 
#compare on annual and monthly basis 
#summary statistics
#major crimes vs total number of reports for a day